assets-dir = 'C:\Program Files (x86)\Steam\steamapps\common\Ara History Untold\assets'

[json]
translate-text = true
groups = ["Improvements", "Recipes"]

[[json.filters]]
remove-properties = ["EncartaStrategy", "EncartaHistory", "SearchTags"]

[[json.filters]]
type = ["ParagonTemplate", "ImportRegionLayouts"]
exclude = true

[[json.filters]]
type = "NationTemplate"
remove-properties = ["RegionNames"]
