antlr4-python3-runtime==4.13.2
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
graphviz==0.21
idna==3.10
iniconfig==2.1.0
littletable==3.0.2
mwparserfromhell==0.7.1
natsort==8.4.0
packaging==25.0
pillow==11.2.1
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
requests==2.32.4
urllib3==2.5.0
xlsxwriter==3.2.5
